body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f7fa;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.main-title {
  text-align: center;
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 30px;
}
